.ModalLayout {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalLayoutContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.closeIconContainer {
    padding: 5px;
    cursor: pointer;
}