.card {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 500;
    white-space: nowrap;
    margin: 5px;
}

.cardHeader {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.cardContent {
    font-size: 18px;
}

.cardFooter {
    font-size: 13px;
    margin: 0 auto;
}
