.transaction {
    display: flex;
    border-top: 0.1rem solid #F2F3F7;
    margin: 0 1rem;
    align-items: center;
    align-content: center;
    padding: 8.35px;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.transaction:hover {
    background-color: #F2F3F7;
    border-radius: 15px;
}

.footerContent{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.footerButton{
    align-self: center;
}
